* {
    margin: 1px;
    padding: 1px;
}

body {
    background-color: whitesmoke;
    background-size:50%;
}

/* Header */

header {
    background-color: rgba(0, 0, 0, 0.562);
}

#logo {
    margin-left: 10%;
    margin-top: 15px;
    margin-bottom: 10px;
}

.navigation {
    float: right;
    margin-top: 20px;
    margin-right: 50px;
}
.navigation a {
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    color: white;
    text-decoration: none;
    border: 1px solid white;
    padding: 10px;
    margin: 5px;
}

.navigation a:hover {
    background-color:white;
    color: black;
}
h1{text-align: center;}
h2{text-align: center;}
div{text-align: center;margin-bottom: 100px;}
.Myskills{text-align: left;margin-left: 50px;}
.Education{text-align: right;margin-right: 100px;}
/* Footer */
footer {
    background-color: black;
    color: white;
    height: 2em;
    margin-top: 20%;
    text-align: center;
}